@font-face {
  font-family: "iconfont"; /* Project id 3993701 */
  src: url('iconfont.woff?t=1680508698055') format('woff');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-link:before {
  content: "\e64a";
}

.icon-add:before {
  content: "\e62b";
}

.icon-add-circle:before {
  content: "\e62c";
}

.icon-archive-slash:before {
  content: "\e62d";
}

.icon-arrow-circle-down-fill:before {
  content: "\e62e";
}

.icon-arrow-circle-right-t:before {
  content: "\e62f";
}

.icon-arrow-circle-down-t-fill:before {
  content: "\e630";
}

.icon-arrow-circle-left-t:before {
  content: "\e631";
}

.icon-arrow-circle-left-t-fill:before {
  content: "\e632";
}

.icon-arrow-circle-down-t:before {
  content: "\e633";
}

.icon-arrow-circle-up-t-fill:before {
  content: "\e634";
}

.icon-arrow-circle-right-fill:before {
  content: "\e635";
}

.icon-add-circle-fill:before {
  content: "\e636";
}

.icon-arrow-circle-left:before {
  content: "\e637";
}

.icon-arrow-circle-left-fill:before {
  content: "\e638";
}

.icon-arrow-circle-right:before {
  content: "\e639";
}

.icon-arrow-circle-down:before {
  content: "\e63a";
}

.icon-arrow-left-fill:before {
  content: "\e63b";
}

.icon-arrow-left:before {
  content: "\e63c";
}

.icon-arrow-left-t:before {
  content: "\e63d";
}

.icon-arrow-up:before {
  content: "\e63e";
}

.icon-arrow-circle-up-t:before {
  content: "\e63f";
}

.icon-arrow-down:before {
  content: "\e640";
}

.icon-arrow-down-t:before {
  content: "\e641";
}

.icon-arrow-circle-right-t-fill:before {
  content: "\e642";
}

.icon-arrow-circle-up-fill:before {
  content: "\e643";
}

.icon-arrow-right-t:before {
  content: "\e644";
}

.icon-arrow-right:before {
  content: "\e645";
}

.icon-edit:before {
  content: "\e646";
}

.icon-minus-cirlce:before {
  content: "\e647";
}

.icon-chart:before {
  content: "\e648";
}

.icon-discover:before {
  content: "\e649";
}

.icon-discover-fill:before {
  content: "\e64b";
}

.icon-close-circle-fill:before {
  content: "\e64c";
}

.icon-info-circle-fill:before {
  content: "\e64d";
}

.icon-arrow-circle-up:before {
  content: "\e64e";
}

.icon-home:before {
  content: "\e64f";
}

.icon-arrow-right-fill:before {
  content: "\e650";
}

.icon-like:before {
  content: "\e651";
}

.icon-arrow-down-fill:before {
  content: "\e652";
}

.icon-location:before {
  content: "\e653";
}

.icon-location-fill:before {
  content: "\e654";
}

.icon-close-circle:before {
  content: "\e655";
}

.icon-more-dot:before {
  content: "\e656";
}

.icon-arrow-up-t:before {
  content: "\e657";
}

.icon-send-t:before {
  content: "\e658";
}

.icon-tick-circle:before {
  content: "\e659";
}

.icon-arrow-up-fill:before {
  content: "\e65a";
}

.icon-graph:before {
  content: "\e65b";
}

.icon-tick-circle-fill:before {
  content: "\e65c";
}

.icon-gallery:before {
  content: "\e65d";
}

.icon-home-fill:before {
  content: "\e65e";
}

.icon-navigate:before {
  content: "\e65f";
}

.icon-message-fill:before {
  content: "\e660";
}

.icon-woman:before {
  content: "\e661";
}

.icon-man:before {
  content: "\e662";
}

.icon-video-fill:before {
  content: "\e663";
}

.icon-minus-cirlce-fill:before {
  content: "\e664";
}

.icon-minus:before {
  content: "\e665";
}

.icon-video:before {
  content: "\e666";
}

.icon-play-circle-fill:before {
  content: "\e667";
}

.icon-info-circle:before {
  content: "\e668";
}

.icon-tick:before {
  content: "\e669";
}

.icon-search:before {
  content: "\e66a";
}

.icon-user:before {
  content: "\e66b";
}

.icon-message:before {
  content: "\e66c";
}

.icon-share-arrow:before {
  content: "\e66d";
}

.icon-navigate-fill:before {
  content: "\e66e";
}

.icon-verify-fill:before {
  content: "\e66f";
}

.icon-play-circle:before {
  content: "\e670";
}

.icon-wechat:before {
  content: "\e671";
}

.icon-more-circle:before {
  content: "\e672";
}

.icon-close:before {
  content: "\e673";
}

.icon-more-circle-fill:before {
  content: "\e674";
}

.icon-radar:before {
  content: "\e675";
}

.icon-planet-fill:before {
  content: "\e676";
}

.icon-send:before {
  content: "\e677";
}

.icon-ring:before {
  content: "\e678";
}

.icon-user-fill:before {
  content: "\e679";
}

.icon-verify:before {
  content: "\e67a";
}

